.messages {
    text-indent: 100px;
    padding: 30px;
}
.events {
    padding: 10px;
}

.textArea {
    color: green;
    font-size: 30px;
}

.buttonSend {
    color: green;
    font-size: 30px;
}

.buttonDelete {
    color: red;
    font-size: 30px;
}