.posts {
    color: rgb(43, 20, 223);
}

.textArea {
    color: green;
    font-size: 30px;
}

.items {
    color: rgb(197, 70, 24);
}

.buttonAdd {
    color: green;
    font-size: 30px;
}

.buttonDelete {
    color: red;
    font-size: 30px;
}